<# Write your code here! %>

<h1>Welcome!</h1> 

<form action="/greet" method="POST"> 
<label for="username"> Name:</label>  
  
<p><input type="text" name="user_name" id="user_name"</input></p>

<input type="submit" value="Submit"/>
</form>