<!DOCTYPE html>
<html>
    <head>
    <title>
    Welcome
    </title>
    </head>
    <body>

    <% %>



    <h1> Welcome! </h1>

    <h2> If you tell me your name, I can say hi! </h2>

    

    <form action="/greet" method="post">
        <p>
            <label for="Name">
            Name
            </label>
            <input type="text" name="user_name">
        </p>
        <input type="submit" value="Submit">
    </form>

    </body>
</html>